<style>
    #section-2,#section-3{border-bottom:2vh solid rgba(31,31 ,35,.95)}#section-4,body>header{box-shadow:0 0 10px rgba(0,0,0,.3)}#section-5,body>header{background:rgba(31,31 ,35,.95)}#section-2,#section-4,#section-5{z-index:1;position:relative}#section-2,#section-4,#section-5,footer{position:relative}footer a,header .contact-link{color:#fff;text-decoration:none}body,html{margin:0;font-family:Raleway,sans-serif;color:#252525}html{scroll-behavior:smooth}body{overflow:auto;-webkit-overflow-scrolling:touch}*{box-sizing:border-box}.aC{text-align:center}.no-mobile{display:none!important}#section-4 a,.text-white{color:#fff}.text-pink{color:#bf408c}.text-blue{color:#41d1eb}.text-green{color:rgba(10,185,10,.6)}#x-btn-scroll-to-top{position:fixed;z-index:500;bottom:18vh;right:6vw;border:none;font-size:8vw;background:rgba(255,255,255,.3);border-radius:4px;padding:2vw;box-shadow:0 0 10px rgba(0,0,0,.1);transition:opacity .3s ease-in-out;opacity:0;pointer-events:none}#x-btn-scroll-to-top.show,body>section.reveal>div{opacity:1;pointer-events:all}body>header{position:fixed;top:0;padding:3vw 4vw;width:100%;color:#fff;z-index:500;font-size:5.5vw;font-weight:500}header>nav{display:flex;justify-content:space-between;align-items:center}header .contact-link{font-size:7vw}body>section{min-height:100vh;transition:background .5s ease-in-out;display:flex;justify-content:center;align-items:center;padding:4vw}body>section>div{opacity:0;pointer-events:none;transition:opacity 1s ease-in}body>section>div i.heading{font-size:50vw}#section-1>div h1 i,body>section>div i.spin{transition:transform .8s;transform-style:preserve-3d}#section-1.reveal>div h1 i,body>section.reveal>div i.spin{transform:rotateY(180deg)}body>section>div h1{font-size:12.5vw}body>section>div h2{font-size:10vw}body>section>div h3{font-size:8vw}body>section>div h5{font-size:4.6vw;line-height:6vw}body>section>div p{font-weight:500;font-size:4vw;line-height:5.5vw}body>section>div a.pink,body>section>div u.pink{text-decoration:underline;text-decoration-color:#BF408C;text-decoration-thickness:.75vw}body>section>div h3 u.blue,body>section>div h3 u.green,body>section>div h3 u.pink{text-decoration:underline;text-decoration-color:#BF408C;text-decoration-thickness:1vw}body>section>div a.blue,body>section>div u.blue{text-decoration:underline;text-decoration-color:rgba(65,209,235,1);text-decoration-thickness:.75vw}body>section>div a.green,body>section>div u.green{text-decoration:underline;text-decoration-color:rgba(10,185,10,.6);text-decoration-thickness:.75vw}#section-1{background-image:url('https://res.cloudinary.com/frozen-solid-designs/image/upload/f_auto,q_auto:best/v1641075851/seigaiha_ykdj2f.png')}#section-2{background:#41d1eb;border-top:2vh solid rgba(31,31 ,35,.95)}#section-2 i.heading{text-shadow:0 0 10px rgb(25 169 195)}#section-3{background-image:url('https://res.cloudinary.com/frozen-solid-designs/image/upload/f_auto,q_auto:best/v1641075851/crossword_qr1ieh.png')}#section-4{background-image:url('https://res.cloudinary.com/frozen-solid-designs/image/upload/f_auto,q_auto:best/v1641075850/prism_ly2ugg.png');color:#fff}#section-5{color:#fff}#section-5 .badges-c{display:flex;flex-direction:column;justify-content:center;align-items:center}#section-5 .badges-c img,#section-5 .badges-c>div{width:100%}#section-5 .badges-c .app-store img{width:88%}#section-5 .badges-c a{display:block}#video-c iframe{width:90vw;height:50.625vw}#video-c iframe:first-child{margin-bottom:5vw}footer{background:rgba(26,26 ,30,1);color:#fff;min-height:15vh;z-index:2;display:flex;justify-content:center;align-items:center}footer a{font-size:5vw}footer a.privacy-link{font-size:1rem;background:rgba(0,0,0,.3);border-radius:4px;padding:.5rem 1rem}@media only screen and (min-width:768px){#x-btn-scroll-to-top{right:4vw;font-size:6vw;padding:1.5vw}}@media only screen and (min-width:1024px){.no-mobile{display:initial!important}#x-btn-scroll-to-top{right:2vw;font-size:4vw;padding:.75vw}body>header{padding:1vw 2vw}body>header,header .contact-link{font-size:2vw}body>section{justify-content:initial}body>.section .title .heading,body>section>div h1{font-size:8.5vw}body>section>div h3{font-size:4vw}body>section>div h5{font-size:2.6vw;line-height:3vw}body>section>div p{font-size:2vw;line-height:2.5vw}body>section>div a.pink,body>section>div u.pink{text-decoration:underline;text-decoration-color:#BF408C;text-decoration-thickness:.5vw}body>section>div h3 u.blue,body>section>div h3 u.green,body>section>div h3 u.pink{text-decoration:underline;text-decoration-color:#BF408C;text-decoration-thickness:.6vw}body>section>div a.blue,body>section>div u.blue{text-decoration:underline;text-decoration-color:rgba(65,209,235,1);text-decoration-thickness:.5vw}body>section>div a.green,body>section>div u.green{text-decoration:underline;text-decoration-color:rgba(10,185,10,.6);text-decoration-thickness:.5vw}.section .title{display:flex}body>.section .title h2{font-size:8.5vw;margin:0 0 0 4vw}#section-5 .title h2{margin:0}#section-5 .badges-c{flex-direction:row;justify-content:left}#video-c iframe{width:40vw;height:22.5vw}#video-c iframe:first-child{margin-right:5vw;margin-bottom:0}footer a{font-size:3.5vw}}@media only screen and (min-width:1920px){body>.section .title .heading,body>.section .title h2,body>section>div h1{font-size:7.5vw}body>section>div h3{font-size:3.5vw}body>section>div h5{font-size:2.2vw;line-height:2.8vw}#section-5 .badges-c>div{width:30vw}#section-5 .badges-c .app-store img{width:78%}}
  </style>




<style>
#section-2,#section-3 {
    border-bottom:2vh solid rgba(31,31 ,35,.95)
}
#section-4,body>header {
    box-shadow:0 0 10px rgba(0,0,0,.3)
}
#section-5,body>header {
    background:rgba(31,31 ,35,.95)
}
#section-2,#section-4,#section-5 {
    z-index:1;
    position:relative
}
#section-2,#section-4,#section-5,footer {
    position:relative
}
footer a,header .contact-link {
    color:#fff;
    text-decoration:none
}
body,html {
    margin:0;
    font-family:Raleway,sans-serif;
    color:#252525
}
html {
    scroll-behavior:smooth
}
body {
    overflow:auto;
    -webkit-overflow-scrolling:touch
}
* {
    box-sizing:border-box
}
.aC {
    text-align:center
}
.no-mobile {
    display:none!important
}
#section-4 a,.text-white {
    color:#fff
}
.text-pink {
    color:#bf408c
}
.text-blue {
    color:#41d1eb
}
.text-green {
    color:rgba(10,185,10,.6)
}
#x-btn-scroll-to-top {
    position:fixed;
    z-index:500;
    bottom:18vh;
    right:6vw;
    border:none;
    font-size:8vw;
    background:rgba(255,255,255,.3);
    border-radius:4px;
    padding:2vw;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    transition:opacity .3s ease-in-out;
    opacity:0;
    pointer-events:none
}
#x-btn-scroll-to-top.show,body>section.reveal>div {
    opacity:1;
    pointer-events:all
}
body>header {
    position:fixed;
    top:0;
    padding:3vw 4vw;
    width:100%;
    color:#fff;
    z-index:500;
    font-size:5.5vw;
    font-weight:500
}
header>nav {
    display:flex;
    justify-content:space-between;
    align-items:center
}
header .contact-link {
    font-size:7vw
}
body>section {
    min-height:100vh;
    transition:background .5s ease-in-out;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:4vw
}
body>section>div {
    opacity:0;
    pointer-events:none;
    transition:opacity 1s ease-in
}
body>section>div i.heading {
    font-size:50vw
}
#section-1>div h1 i,body>section>div i.spin {
    transition:transform .8s;
    transform-style:preserve-3d
}
#section-1.reveal>div h1 i,body>section.reveal>div i.spin {
    transform:rotateY(180deg)
}
body>section>div h1 {
    font-size:12.5vw
}
body>section>div h2 {
    font-size:10vw
}
body>section>div h3 {
    font-size:8vw
}
body>section>div h5 {
    font-size:4.6vw;
    line-height:6vw
}
body>section>div p {
    font-weight:500;
    font-size:4vw;
    line-height:5.5vw
}
body>section>div a.pink,body>section>div u.pink {
    text-decoration:underline;
    text-decoration-color:#BF408C;
    text-decoration-thickness:.75vw
}
body>section>div h3 u.blue,body>section>div h3 u.green,body>section>div h3 u.pink {
    text-decoration:underline;
    text-decoration-color:#BF408C;
    text-decoration-thickness:1vw
}
body>section>div a.blue,body>section>div u.blue {
    text-decoration:underline;
    text-decoration-color:rgba(65,209,235,1);
    text-decoration-thickness:.75vw
}
body>section>div a.green,body>section>div u.green {
    text-decoration:underline;
    text-decoration-color:rgba(10,185,10,.6);
    text-decoration-thickness:.75vw
}
#section-1 {
    background-image:url('https://res.cloudinary.com/frozen-solid-designs/image/upload/f_auto,q_auto:best/v1641075851/seigaiha_ykdj2f.png')
}
#section-2 {
    background:#41d1eb;
    border-top:2vh solid rgba(31,31 ,35,.95)
}
#section-2 i.heading {
    text-shadow:0 0 10px rgb(25 169 195)
}
#section-3 {
    background-image:url('https://res.cloudinary.com/frozen-solid-designs/image/upload/f_auto,q_auto:best/v1641075851/crossword_qr1ieh.png')
}
#section-4 {
    background-image:url('https://res.cloudinary.com/frozen-solid-designs/image/upload/f_auto,q_auto:best/v1641075850/prism_ly2ugg.png');
    color:#fff
}
#section-5 {
    color:#fff
}
#section-5 .badges-c {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center
}
#section-5 .badges-c img,#section-5 .badges-c>div {
    width:100%
}
#section-5 .badges-c .app-store img {
    width:88%
}
#section-5 .badges-c a {
    display:block
}
#video-c iframe {
    width:90vw;
    height:50.625vw
}
#video-c iframe:first-child {
    margin-bottom:5vw
}
footer {
    background:rgba(26,26 ,30,1);
    color:#fff;
    min-height:15vh;
    z-index:2;
    display:flex;
    justify-content:center;
    align-items:center
}
footer a {
    font-size:5vw
}
footer a.privacy-link {
    font-size:1rem;
    background:rgba(0,0,0,.3);
    border-radius:4px;
    padding:.5rem 1rem
}
@media only screen and (min-width:768px) {
    #x-btn-scroll-to-top {
        right:4vw;
        font-size:6vw;
        padding:1.5vw
    }
}
@media only screen and (min-width:1024px) {
    .no-mobile {
        display:initial!important
    }
    #x-btn-scroll-to-top {
        right:2vw;
        font-size:4vw;
        padding:.75vw
    }
    body>header {
        padding:1vw 2vw
    }
    body>header,header .contact-link {
        font-size:2vw
    }
    body>section {
        justify-content:initial
    }
    body>.section .title .heading,body>section>div h1 {
        font-size:8.5vw
    }
    body>section>div h3 {
        font-size:4vw
    }
    body>section>div h5 {
        font-size:2.6vw;
        line-height:3vw
    }
    body>section>div p {
        font-size:2vw;
        line-height:2.5vw
    }
    body>section>div a.pink,body>section>div u.pink {
        text-decoration:underline;
        text-decoration-color:#BF408C;
        text-decoration-thickness:.5vw
    }
    body>section>div h3 u.blue,body>section>div h3 u.green,body>section>div h3 u.pink {
        text-decoration:underline;
        text-decoration-color:#BF408C;
        text-decoration-thickness:.6vw
    }
    body>section>div a.blue,body>section>div u.blue {
        text-decoration:underline;
        text-decoration-color:rgba(65,209,235,1);
        text-decoration-thickness:.5vw
    }
    body>section>div a.green,body>section>div u.green {
        text-decoration:underline;
        text-decoration-color:rgba(10,185,10,.6);
        text-decoration-thickness:.5vw
    }
    .section .title {
        display:flex
    }
    body>.section .title h2 {
        font-size:8.5vw;
        margin:0 0 0 4vw
    }
    #section-5 .title h2 {
        margin:0
    }
    #section-5 .badges-c {
        flex-direction:row;
        justify-content:left
    }
    #video-c iframe {
        width:40vw;
        height:22.5vw
    }
    #video-c iframe:first-child {
        margin-right:5vw;
        margin-bottom:0
    }
    footer a {
        font-size:3.5vw
    }
}
@media only screen and (min-width:1920px) {
    body>.section .title .heading,body>.section .title h2,body>section>div h1 {
        font-size:7.5vw
    }
    body>section>div h3 {
        font-size:3.5vw
    }
    body>section>div h5 {
        font-size:2.2vw;
        line-height:2.8vw
    }
    #section-5 .badges-c>div {
        width:30vw
    }
    #section-5 .badges-c .app-store img {
        width:78%
    }
}
</style>