* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 16px;    /* tamaño del rem */
    background-color: #D6D6CD;
}

header,
footer {
    height: 10vh;
    
}

main {
    width: 90%;
    margin: 0 auto;
    height: 80vh;
}

.cabecera,
footer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

.contenedor {
    width: 90%;
    display: flex;    /* por defecto horizontañ */
    justify-content: space-evenly;    /* distribuye equitativamente */
    flex-wrap: wrap;
}

.tarjeta {
    background-color: rgb(186, 201, 214);    /* color de fondo */
    border-radius: 8px;    /* borde redondeado */
    box-shadow: 0 4px 8px black;    /* arriba, abajo y laterales */
    width: 300px;
    text-align: center;    /* alinear texto al centro */
    display: flex;
    flex-direction: column;    /* dirección del flex en eje declarado */
    justify-content: space-between;
}